<p>
	<strong>title</strong>
	<%= @product.title %>
</p>
<p>
	<strong>description</strong>
	<%= @product.description %>
</p>
<p>
	<strong>image</strong>
	<%= image_tag(@product.image_url , :class => 'list_image') %>
</p>
<p>
	<strong>price</strong>
	<%= number_to_currency(@product.price) %>
</p>

<%= link_to 'Back', products_path %>